{% extends 'base.html' %}

<html>
    <header>
        <title>
            {% block title %} Homepage {% endblock%}

            {% block body %} 
            
        </title>
    </header>
<body>
    <h1>Teachers: </h1>
    <hr>
   <button><a href="{% url 'teacher-create' %}"> Create New Teacher</a></button><br><br>
    {% for teacher in teachers %}
    <a href="{% url 'teacher-detail' teacher.id %}">{{ teacher.first_name }} {{ teacher.last_name }} {{ teacher.degree }} <br></a>
    {% endfor %}

    <h1>Specialities: </h1>
    <hr>
    <button><a href="{% url 'speciality-create'  %}"> Create New Speciality</a></button><br><br>
    {% for speciality in specialities %}
    <a href="{% url 'speciality-detail' speciality.id %}">{{ speciality.name }} <br>/a> 
    {% endfor %}

    <h1>Subjects: </h1>
    <hr>
    <a href=""> Create New Subject</a>
    {% for subject in subjects %}
    <a href="">{{ subject.name}} <br></a>
    {% endfor %}
    
    {% endblock %}
</body>

</html>